/*    CLASSES GENERALES    */

body {
    box-sizing: border-box;
}
h1 {
    font-size: 20pt;
    font-family: century gothic;
    font-weight: 400;
    color: #57c5a0;
    width: 80%;
}
h2 {
    font-size: 30pt;
    font-family: century gothic;
    font-weight: 300;
    color: black;
}
h3 {
    font-size: 14pt;
    font-family: century gothic;
    font-weight: 100;
    color: lightgray;
}
h4 {
    font-size: 18pt;
    font-family: century gothic;
    font-weight: 100;
    color: black;
    float: left;
    margin-top: 2em;
    margin-bottom: 1em;
}
h5 {
    font-size: 16pt;
    font-family: century gothic;
    font-weight: 300;
    color: black;
    margin-bottom: 1em;
}
h6 {
    font-size: 12pt;
    font-family: raleway;
    font-weight: 500;
    color: #7d7d7d;
    margin-bottom: 1em;
}
.square__big {
    position: relative;
    width: 50px;
    height: auto;
    text-align: center;
}
.square__big--black {
    background-color: black;
}
.square__big--green {
    position: relative;
    background-color: #57c5a0;
    position: relative;
    top: -90px;
    padding: 5px 10px 5px 10px;
    width: 50px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    margin-left: 30px;
    color: white;
    font-family: open sans-serif;
}
.square__big--orange {
    background-color: #f27e4b;
    position: relative;
    width: 70px;
    height: 70px;
    text-align: center;
    padding-top: 10px;
    top: -440px;
    left: 180px;
    color: white;
    font-family: open sans-serif;
}
.square__medium--green {
    width: 50px;
    height: 50px;
    color: white;
    background-color: #57c5a0;
    text-align: center;
    line-height: 25px;
    margin-bottom: 0.5em;
}
.square__little {
    width: 30px;
    heigth: 30px;
    color: black;
    text-align: center;
}
.square__little--white {
    width: 30px;
    heigth: 30px;
    background-color: white;
    margin: 0.5em 0.5em 0.5em 0em;
    text-align: center;
    padding: 0.5em;
}
.square__tiny {
    width: 20px;
    height: 20px;
    color: white;
    text-align: center;
}
.square__tiny--gray {
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 5px;
    background-color: #adadad;
}
.square__tiny--green {
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 5px;
    background-color: #57c5a0;
}
.text__style--italic {
    font-style: italic;
}
.text__style--bold {
    font-weight: 700;
}
.text__color--green {
    color: #57c5a0;
}
.text__color--white {
    color: #c4c5bf;
    margin-bottom: 0.5em;
}
.container {
    width: 1000px;
    margin: auto;
}
.clear {
    clear: both;
}

/*                 HEADER               */

header {
    background-color: black;
    color: grey;
}
header > div {
    background-color: black;
    color: grey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header__logo,
.header__icon {
    padding: 1em;
    margin: 0.5em;
    width: 50%;
}

/*                 SECTION MENU              */

.menu {
    width: 100%;
    background-color: #ffffff;
}
.menu >div {
    display: flex;
    justify-content: space-between;
}
.menu a {
    text-decoration: none;
    color: #242424;
    font-family: raleway;
    font-weight: 700;
}
.menu a:hover {
    text-decoration: underline;
    text-decoration-color: #57c5a0;
    text-decoration-line: underline;
}

}
.menu__nav {
    display: flex;
    flex-grow: 1;
    width: 75%;
    align-self: baseline;
}
.menu__navigation {
    display: flex;
}
.menu__icon {
    display: flex;
    flex-direction: row;
    align-self: baseline;
}
.menu__icon--elm {
    padding: 0.5em;
    margin: 0.2em;
    align-self: baseline;
}
.menu__navigation--element1,
.menu__navigation--element2,
.menu__navigation--element3,
.menu__navigation--element4,
.menu__navigation--element5,
.menu__navigation--element6 {
    padding: 1em;
    margin: 1em height: 5em;
}

/*               SECTION SLIDER               */
.slider {
    background-image: url(img/slide.jpg);
    background-size: 100%;
}
.slider__informations {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    text-align: left;
    margin-top: 2em;
    margin-left: 30em;
}
.slider__information-icons {
    display: flex;
    flex-direction: row;
    color: #7d7d7d;
    padding: 1em;
    margin-top: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
}
.square__big--green2 {
    position: relative;
    background-color: #57c5a0;
    padding: 5px 10px 5px 10px;
    width: 50px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    color: white;
    font-family: open sans-serif;
}

/*               SECTION CATEGORIES            */
.categories {
    width: 100%;
    background-color: #2e2e2e;
    color: darkgray;
}
.categories > div {
    background-color: #2e2e2e;
    display: flex;
    justify-content: space-between;
    color: darkgray;
}

/*               SECTION CHOICES               */
.choices {
    background-color: #242424;
}
.choices >div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.choices a {
    text-decoration: none;
    color: white;
    font-family: raleway;
    font-weight: 600;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 13px 30px;
    margin: auto;
}
.choices__bloc {
    width: 300px;
    height: 180px;
    line-height: 180px;
    text-align: center;
}
.choices__bloc:hover {
    cursor: pointer;
}
.choices__bloc1 {
    background-image: url(img/img1.jpg);
    width: 300px;
    height: 180px;
}
.choices__bloc2 {
    background-image: url(img/img2.jpg);
    width: 300px;
    height: 180px;
}
.choices__bloc3 {
    background-image: url(img/img3.jpg);
    width: 300px;
    height: 180px;
}
.choices__bloc--elm {
    display: inline-block;
}

/*               SECTION ARRIVALS              */
.arrivals {
    background-color: #ebe7df;
}
.arrivals__block--regroupement {
    display: block;
    text-align: center;
    margin-bottom: 4%;
}
.arrivals__block--regroupement article {
    float: left;
    width: 30%;
    margin-left: 2%;
}
.arrivals__block--regroupement first:child {
    margin-left: 0;
}
.arrivals__block--regroupement img {
    width: 290px;
    height: 200px;
}
.arrivals__block--regroupement-elm {
    background-color: #ffffff;
    width: 290px;
    margin-left: 5px;
    padding: 5px 0px 5px 0px;
}
.arrivals__block--regroupement-elm h5 {
    padding-top: 10px;
    margin-left: 50px;
    font-size: 14pt;
}
.arrivals__regroupement-part2 {
    display: flex;
    align-items: baseline;
}
.arrivals__regroupement-part2--freeshipping,
.arrivals__regroupement-part2--testimonials {
    width: 20%;
    margin-top: 1em;
    margin-right: 2em;
    margin-bottom: 1em;
    margin-left: 1em;
    padding: 1em;
    background-color: #dfdbd4;
}
.arrivals__regroupement-part2--blog {
    margin-top: 1em;
    margin-right: 2em;
    margin-bottom: 1em;
    margin-left: 1em;
    padding: 1em;
    flex: 1;
    background-color: #dfdbd4;
}
.arrivals__blog {
    display: flex;
    flex-direction: column;
}
.arrivals__blog--elm {
    display: flex;
    flex-direction: row;
}
.show {
    float: right;
    border: 1px solid #7d7d7d;
    padding: 0.5em;
    margin: 3em 0em 1em 2em;
    font-family: raleway;
}
.show a {
    cursor: pointer;
    text-decoration: none;
    color: #7d7d7d;
}
.show:hover {
    cursor: pointer;
    text-decoration: none;
    color: #7d7d7d;
}

/*               SECTION WIDGET                */
.widget {
    background-color: #242424;
    color: #7d7d7d;
}
.widget >div {
    display: flex;
}
.widget__text-widget,
.widget__twitter-widget,
.widget__flick-widget {
    width: 33.3334%;
    margin: 2em 2em 2em 2em;
}
.widget__flick-widget {
    float: left;
}

/*               SECTION SOCIALMEDIA           */
.social-media {
    background-color: #242424;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social-media__icons {
    display: flex;
    flex-direction: row;
}
.searchbar--button {
    transform: rotate(90deg);
    margin-top: 1em;
}
.icon-facebook,
.icon-twitter,
.icon-google-plus,
.icon-linkedin2,
.icon-flickr {
    padding: 0.5em;
    margin: 0.4em;
    background-color: #2e2e2e;
    color: #7d7d7d;
}

/*               FOOTER                        */
.footer {
    background-color: #2e2e2e;
    color: #7d7d7d;
    overflow: hidden;
}
.footer > div {
    display: flex;
    justify-content: space-between;
}
.footer__block {
    padding: 12px 25px;
    margin: 0.2em 0.2em 0em 0.2em;
    line-height: normal;
}
.footer__block--elm {
    display: flex;
}
.footer__block--elm li {
    padding: 5px;
}
