/*    CLASSES GENERALES    */

body {
    box-sizing: border-box;
}
h1 {
    font-size: 20pt;
    font-family: century gothic;
    font-weight: 400;
    color: darkturquoise;
}
h2 {
    font-size: 30pt;
    font-family: century gothic;
    font-weight: 300;
    color: black;
}
h3 {
    font-size: 14pt;
    font-family: century gothic;
    font-weight: 100;
    color: lightgray;
}
h4 {
    font-size: 18pt;
    font-family: century gothic;
    font-weight: 100;
    color: black;
    float: left;
}
h5 {
    font-size: 16pt;
    font-family: century gothic;
    font-weight: 300;
    color: black;
}
h6 {
    font-size: 12pt;
    font-family: century gothic;
    font-weight: 300;
    color: gray;
    margin-bottom: 1.5em;
}
.square__big {
    width: 70px;
    height: auto;
    text-align: center;
}
.square__big--black {
    background-color: black;
}
.square__big--green {
    background-color: darkturquoise;
    position: absolute;
    padding: 25px 12px;
}
.square__big--orange {
    background-color: coral;
    position: absolute;
    padding: 25px 12px;
    left: 1040px;
    bottom: -85px;
}
.square__medium--gray {
    background-color: #2e2e2e;
    width: 50px;
    height: 50px;
}
.square__little {
    width: 30px;
    heigth: 30px;
    color: black;
    text-align: center;
}
.square__little--white {
    background-color: white;
}
.square__tiny {
    width: 20px;
    height: 20px;
    color: white;
    text-align: center;
}
.square__tiny--gray {
    background-color: gray;
}
.square__tiny--green {
    background-color: darkturquoise;
}
.container {
    width: 1000px;
    margin: auto;
}
.clear {
    clear: both;
}
.text__style--italic {
    font-style: italic;
}
.text__color--green {
    color: #57c5a0;
}
.text__color--white {
    color: #afb0aa;
}

/*                 HEADER               */

header {
    background-color: black;
    color: grey;
    display: flex;
    justify-content: space-between;
}
.header__logo,
.header__icon {
    padding: 1em;
    margin: 0.5em;
    align-self: baseline;
}

/*                 SECTION MENU              */

.menu {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #ffffff;
}
.menu__nav {
    display: flex;
    flex-grow: 1;
    width: 75%;
    align-self: baseline;
}
.menu__navigation {
    display: flex;
}
.menu__icon {
    display: flex;
    flex-direction: row;
    align-self: baseline;
}
.menu__icon--elm {
    padding: 0.5em;
    margin: 0.5em;
    align-self: baseline;
}
.menu__navigation--element1,
.menu__navigation--element2,
.menu__navigation--element3,
.menu__navigation--element4,
.menu__navigation--element5,
.menu__navigation--element6 {
    padding: 1em;
    margin: 1em;
    height: 5em;
}

/*               SECTION SLIDER               */

.slider__container--img {
    width: 50%;
    height: 100%;
    float: left;
}
.slider__informations {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    text-align: left;
    background-color: #f0ede8;
}
.slider__information-icons {
    display: flex;
    flex-direction: row;
}

/*               SECTION CATEGORIES            */

.categories {
    background-color: dimgray;
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: darkgray;
}

/*               SECTION CHOICES               */

.choices {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #2e2e2e;
}
.choices__bloc {
    width: 100%;
    ;
}

/*               SECTION ARRIVALS              */

.arrivals {
    background-color: #ebe7df;
}
.arrivals__block--regroupement {
    display: block;
    text-align: center;
    margin-bottom: 4%;
}
.arrivals__block--regroupement article {
    float: left;
    width: 30%;
    margin-left: 2%;
}
.arrivals__block--regroupement first:child {
    margin-left: 0;
}
.arrivals__block--regroupement img {
    width: 80%;
}
.show {
    float: right;
}

/*               SECTION WIDGET                */

.widget {
    background-color: #242424;
    color: #7d7d7d;
    display: flex;
    padding: 1.5em;
}
.widget__text-widget {
    width: 75%;
    margin-right: 2em;
}
.widget__flick-widget {
    float: left;
}

/*               SECTION SOCIALMEDIA           */

.searchbar--button {
    transform: rotate(90deg);
}
.social-media {
    background-color: #242424;
    display: flex;
    justify-content: space-between;
}
.social-media__icons {
    display: flex;
    flex-direction: row;
}
.icon-facebook,
.icon-twitter,
.icon-google-plus,
.icon-linkedin2,
.icon-flickr {
    display: block;
    width: 2em;
    height: 2em;
    margin: auto;
    text-align: center;
}

/*               FOOTER                        */

.footer {
    background-color: #2e2e2e;
    color: #7d7d7d;
    display: flex;
    justify-content: space-between;
}
.footer__block {
    padding: 12px 25px;
    margin: 15px;
    line-height: normal;
}
.footer__block--elm {
    display: flex;
}
.footer__block--elm li {
    padding: 5px;
}
