body {
    box-sizing: border-box;
}
h1 {
    font-size: 20pt;
    font-family: century gothic;
    font-weight: 400;
    color: darkturquoise;
}
h2 {
    font-size: 30pt;
    font-family: century gothic;
    font-weight: 300;
    color: black;
}
h3 {
    font-size: 14pt;
    font-family: century gothic;
    font-weight: 100;
    color: lightgray;
}
h4 {
    font-size: 18pt;
    font-family: century gothic;
    font-weight: 100;
    color: black;
}
h5 {
    font-size: 16pt;
    font-family: century gothic;
    font-weight: 300;
    color: black;
}
h6 {
    font-size: 12pt;
    font-family: century gothic;
    font-weight: 300;
    color: gray;
}
.square__big {
    width: 70px;
    height: auto;
    text-align: center;
}
.square__big--black {
    background-color: black;
}
.square__big--green {
    background-color: darkturquoise;
}
.square__big--orange {
    background-color: coral;
}
.square__little {
    width: 30px;
    heigth: 30px;
    color: black;
    text-align: center;
}
.square__little--white {
    background-color: white;
}
.square__tiny {
    width: 20px;
    height: 20px;
    color: white;
    text-align: center;
}
.square__tiny--gray {
    background-color: gray;
}
.square__tiny--green {
    background-color: darkturquoise;
}
